<!DOCTYPE html>
<html ng-app>

<meta charset="utf-8">
<title>IM Utilities</title>
<link rel="stylesheet" href="style.css" />

<h1>IM Utilities</h1>

<div class="content" ng-controller="IdentifilerController">
  <h2>ID生成時刻</h2>

  <div class="description">
    Identifier#make, get で生成された文字列から、生成時刻を取得します。
  </div>
  <div class="edit">
    <input type="text" size="15" ng-model="source" title="ID">
    <!-- <button ng-click="compute()" title="計算">&rarr;</button> -->
    &#8658;
    <input type="text" size="25" ng-model="result" title="タイムスタンプ">
  </div>
  <div class="error" ng-bind="error"></div>
</div>

<div class="content" ng-controller="CryptoController">
  <h2>暗号化/復号</h2>

  <div class="description">
    StandardCryption によるパスワード等の暗号化/復号を行います。
    <span class="powered_by">(Powered by<a href="https://code.google.com/p/crypto-js/" target="_blank">CryptoJS</a>)</span>
  </div>
  <div class="edit">
    <input type="text" size="20" ng-model="secret_key" title="暗号化キー"><br />
    <input type="text" size="20" ng-model="plain" title="平文">
    <button ng-click="decrypt()" title="復号">&larr;</button>
    <button ng-click="encrypt()" title="暗号化">&rarr;</button>
    <input type="text" size="40" ng-model="secret " title="暗号文">
  </div>
  <div class="error" ng-bind="error"></div>
</div>

<div class="content" ng-controller="FaqController">
  <h2>im-FAQ URL変換</h2>

  <div class="description">
    <a href="http://imfaq.intra-mart.jp/imqa/faq/" target="_blank">im-FAQ</a> の URL を直接アクセス形式に変換します。
  </div>
  <div class="edit">
    <input type="text" size="160" ng-model="original_url" title="URL"><br />
    &#8658; <a ng-href="{{simple_url}}" target="_blank">{{simple_url}}</a>
  </div>
  <div class="error" ng-bind="error"></div>
</div>

<script src="js/angular.js"></script>
<script src="js/CryptoJS-3.1.2/rollups/tripledes.js"></script>
<script src="js/CryptoJS-3.1.2/components/mode-ecb-min.js"></script>
<script src="js/im_utility.js"></script>

<script>
  function IdentifilerController($scope) {
    $scope.source = "5i4dolq8v0jvtw5";
  
  	$scope.$watch("source", function(newValue, oldValue) {
      $scope.error = "";
      try {
        $scope.result = idToTimestamp(newValue);
      } catch (e) {
        $scope.error = e.message;
      }
  	});
  	
  	/*
    $scope.compute = function() {
      $scope.error = "";
      try {
        $scope.result = idToTimestamp($scope.source);
      } catch (e) {
        $scope.error = e.message;
      }
    }
    */
  }
  
  function CryptoController($scope) {
    $scope.secret_key = "INTRAMART";
    $scope.plain = "aoyagi";
    $scope.secret = "0A1msI0DLNo=";
    
    $scope.encrypt = function() {
      $scope.error = "";
      $scope.secret = encrypt($scope.plain, $scope.secret_key);
    }
    
    $scope.decrypt = function() {
      $scope.error = "";
      try {
        $scope.plain = decrypt($scope.secret, $scope.secret_key);
      } catch (e) {
        $scope.error = e.message;
      }
    }
  }
  
  function FaqController($scope) {
    $scope.original_url = "http://imfaq.intra-mart.jp/imqa/faq/detail.asp?Option=&NodeID=&DispNodeID=&CID=&Text=&Field=&KW=&KWAnd=&Attrs=&Bind=&SearchID=&FAQID=496&baID=24&strKind=3";
    
    $scope.$watch("original_url", function(newValue, oldValue) {
      $scope.error = "";
      
      try {
        $scope.simple_url = simplifyFaqUrl(newValue);
      } catch (e) {
        $scope.error = e.message;
      }
    });
  }
</script>
</html>